In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("spotify_millsongdata.csv")

In [5]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [6]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [7]:
df.shape

(57650, 4)

In [8]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [9]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [10]:
df.head(10)

,artist,song,text
0,Cheap Trick,Through The Night,You don't have to hide \r\nAll the things you...
1,Tina Turner,Rock'n' Roll Widow,I'm sitting at home and the phone doesn't even...
2,Ramones,Tomorrow She Goes Away,"Infatuation, she's a fatal attraction \r\nHan..."
3,Amy Grant,Beautiful Music,"Once my life had no direction, I was lost as c..."
4,New Order,Doubts Even Here,Those steps which seem to take a lifetime \r\...
5,Air Supply,Secret Agent,Well I've got friends in the states \r\nAnd I...
6,Paul McCartney,Kansas City,"I'M GOIN' TO KANSAS CITY, KANSAS CITY, HERE I ..."
7,Freestyle,Hidden Freestlyes,I tell you to sit down put you in tears she wa...
8,Lou Reed,Families,(how's the family) \r\n(how's the family) \r...
9,Kenny Chesney,Got A Little Crazy,Steel drums still ringing in my head \r\nWell...

In [11]:
df['text'][0]

"You don't have to hide  \r\nAll the things you say or feel inside  \r\nI can always tell that love is alive  \r\nWhen I look in your eyes  \r\nWith just one kiss you see the ways of love  \r\n  \r\nThrough the night, through the night, through the night  \r\nI'll help you make it feel alright  \r\nThrough the night, through the night  \r\nLet me help you make it through the night  \r\n  \r\nTime is on our side  \r\nNever had to wait for reasons why  \r\nTwo can play this game better than one  \r\nAlone in the night  \r\nOh, and you could see a world of love  \r\n  \r\nThrough the night, through the night, through the night  \r\nI'll help you make it feel alright  \r\nThrough the night, through the night  \r\nLet me help you make it through the night  \r\n  \r\nDon't blow it away  \r\n'Coz you can't deny the love inside  \r\nOh baby, don't be afraid  \r\n  \r\nBeen said a million times before  \r\nGonna say it once again  \r\nYou will see a world of love through the night  \r\n  \r\nThrough the night, through the night  \r\nLet me help you make it through the night  \r\n  \r\nThrough the night, through the night, through the night  \r\nI'll help you make it feel alright  \r\nThrough the night, through the night  \r\nLet me help you make it through the night  \r\n  \r\nThrough the night, through the night, through the night  \r\nI'll help you make it through the night  \r\nThrough the night, through the night  \r\nLet me help you make it through the night\r\n\r\n"

In [12]:
df = df.sample(5000)

In [13]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [14]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex=True)

In [15]:
df.head(7)

,artist,song,text
1939,Opeth,Serenity Painted Death,returned from a hibernal dream \r voices fell...
4677,Randy Travis,America Will Always Stand,america will always stand \r randy travis \r...
1512,Cole Porter,Where Is The Life That Late I Led?,since i reached the charming age of puberty \...
4566,Kelly Family,Because It's Love,every time i look at your face \r i get this ...
4526,Talking Heads,Totally Nude,big and i'm bad \r and i want you to know \r...
2341,Linkin Park,Piercing The Skin,i look around... \r i look around... \r i lo...
3222,Zebrahead,"With Friends Like These, Who Needs Herpes?",i'm breaking this wall down \r everybody's lo...

In [16]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\kagiso\appdata\local\programs\python\python312\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\kagiso\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\kagiso\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\kagiso\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.5.15)
Requirement already satisfied: tqdm in c:\users\kagiso\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.4)
Requirement already satisfied: colorama in c:\users\kagiso\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Kagiso\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [18]:
stemmer = PorterStemmer()

In [19]:
def token(txt):
    tokens = nltk.word_tokenize(txt)
    # Apply stemming to each token
    stemmed_tokens = [stemmer.stem(w) for w in tokens]
    return " ".join(stemmed_tokens)

In [20]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [21]:
# Apply the tokenization function to the 'text' column
df['text'] = df['text'].apply(lambda x: token(x))

In [22]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\kagiso\appdata\local\programs\python\python312\lib\site-packages (1.5.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\kagiso\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.0.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\kagiso\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\kagiso\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\kagiso\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [25]:
similarity[0]

array([1.00000000e+00, 4.43503052e-03, 1.27703208e-02, ...,
       8.19928742e-03, 3.30737244e-03, 3.25219471e-04])

In [27]:
df[df['song'] == 'Totally Nude'].index[0]

np.int64(4526)

Recommender Function

In [28]:
def recommendation(song_name):
    # Check if any rows match the condition
    if df[df['song'] == song_name].empty:
        print(f"No recommendations found for '{song_name}'.")
        return
        
    # Get the index of the first matching row
    idx = df[df['song'] == song_name].index[0]
    distance = sorted(list(enumerate(similarity[idx])), reverse=True, key = lambda x: x[1])
        
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
            
    return song

In [30]:
recommendation("Because It's Love")

['Follow Me',
 'D.C.',
 'Lead Balloon',
 "I'll Be There",
 'Little Chief',
 'If I Told You',
 'Lead Me To The Cross',
 'All Day',
 'A Hard Act To Follow',
 'Every Road Leads Home To You',
 'Dedicated Follower Of Fashion',
 'Double Life',
 'Doncha Bother Me',
 'Bruiser',
 'Fleas',
 'Dark Fantasy',
 'Next Time I Fall',
 'Til The End Of Forever',
 'A Love For You',
 'Swallow']

In [31]:
import pickle

In [32]:
# Save the similarity matrix
pickle.dump(similarity, open('similarity.pkl','wb'))

In [33]:
# Save the DataFrame
pickle.dump(df, open('df.pkl','wb'))